body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ede4db;
}

.container {
    max-width: 620px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav ul li a span {
    margin-right: 5px;
}

nav ul li a:hover {
    color: #000;
    text-decoration: underline;
}

@media screen and (max-width: 620px) {
    .profile-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .profile {
      width: 100px;
      height: 100px;
    }
  
    nav ul {
      flex-direction: column;
    }

    /* Add some margin to the list items to increase spacing */
    nav ul li {
      margin: 10px 0; /* adjust as needed */
    }
}