:root {
    --background-color: #f6f1e3;
    --title-color: #000000;
    --text-color: #2e2e2e;
    --button-color: #000000;
    --button-text-color: #000000;
    --button-hover-color: #000000;
    --button-hover-text-color: #f6f1e3;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

h1 {
    color: var(--title-color);
}

p {
    color: var(--text-color);
    text-align: center; /* center align text */
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    flex: 1 1 auto;
    margin: 0 10px;
    text-align: center;
}

nav ul li a {
    color: var(--button-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: transparent;
    border: 1px solid var(--button-color);
    border-radius: 2px; /* rounded corners */
    transition: background-color 0.1s, color 0.1s, transform 0.1s; /* animate color and scaling */
    width: 100%;
}

/* Apply hover effects only for non-touch devices */
@media (hover: hover) and (pointer: fine) {
    nav ul li a:hover {
        background-color: var(--button-hover-color);
        color: var(--button-hover-text-color);
        text-decoration: none;
        transform: scale(1.05); /* slight increase in size on hover */
    }
}

/* For touch devices use active state instead of hover */
nav ul li a:active {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
    text-decoration: none;
    transform: scale(1.05); /* slight increase in size on press */
}

@media screen and (max-width: 700px) {
    .profile-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: -10px;  /* reduce space */
    }
  
    .profile {
        width: 150px;  /* increase size */
        height: 150px; /* increase size */
        margin: 10px auto; /* center image and increase vertical space */
    }
  
    p {
        text-align: center; /* center align text */
        max-width: 100%; /* prevent text from overflowing */
        font-size: 20px; /* increase font size */
    }

    nav ul {
        flex-direction: column;
        align-items: stretch; /* stretch to fill the parent */
        padding: 0 20px;
    }

    nav ul li {
        margin: 9px auto; /* increase vertical spacing, center the buttons */
        width: 55%; /* decrease the width */
    }
}

